.arrow {
	display: inline-block;
	margin-left: 5px;
	padding: 2px;

	border: solid var(--color-primary);
	border-width: 0 1px 1px 0;
}

.right {
	transform: rotate(-45deg);
}

.chat_controls {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 24px;
}

.chat_controls--btn {
	display: flex;
	align-items: center;

	border: none;

	background: none;

	color: var(--color-primary);
	font-size: 12px;
	text-decoration: none;
	appearance: none;
}

.chat_controls--btn:hover {
	cursor: pointer;
}
