.btn_textarrow--arrow {
	display: inline-block;
	margin-left: 5px;
	padding: 2px;

	transform: rotate(-45deg);

	border: solid var(--color-primary);
	border-width: 0 1px 1px 0;
}

.btn_textarrow {
	display: flex;
	align-items: center;

	border: none;

	background: none;

	color: var(--color-primary);
	font-size: var(--font-sm);
	text-decoration: none;
	appearance: none;
}

.btn_textarrow:hover {
	cursor: pointer;
}
