.profile_page {
	display: flex;
	height: 100%;
}

.profile {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

.profile--display_name {
	margin-bottom: 20px;

	color: white;
	font-size: var(--font-lg);
}
