<main class='error_page'>
	<h3 class='error_page--title'>500</h3>
	<p class='error_page--desc'>На этой вершине ведутся технические работы</p>
	<a href='/chat' data-href='chat' class='error_page--link'>Назад к чатам</a>
</main>