.message_bar {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	margin-top: 10px;
	padding-top: 10px;

	border-top: 1px solid white;
}

.message_bar--attach_btn {
	margin-right: 10px;
}

.message_bar--submit {
	margin-left: 10px;
}

.message_bar--form {
	display: flex;
	flex-grow: 1;
}

.message_bar--input {
	box-sizing: border-box;
	flex-grow: 1;

	border: none;
	border-radius: 15px;
	appearance: none;
}
