{{#if msg}}
	<div class='message {{#if isOwn}}message-own{{/if}}'>
		{{#each msg}}
			<p class='message--text {{#if ../isOwn}}message--text-light{{/if}}'>{{this}}</p>
		{{/each}}
		<span class='message--time {{#if isOwn}}message--time-light{{/if}}'>{{time}}</span>
	</div>
{{/if}}

{{#if images}}
	<div class='message message-with_image {{#if isOwn}}message-own{{/if}}'>
		{{#each images}}
			<img src='{{this}}' alt='' class='message--img' />
		{{/each}}
		<span class='message--time message--time-plank'>{{time}}</span>
	</div>
{{/if}}