.message {
	box-sizing: border-box;
	min-width: 110px;
	max-width: 400px;
	margin-bottom: 10px;
	padding: 10px;

	border-radius: 0 10px 10px;

	background: var(--color-primary);

	font-size: var(--font-sm);
	line-height: 1.2;
}

.message:last-of-type {
	margin-bottom: 0;
}

.message-own {
	align-self: flex-end;

	border-radius: 10px 10px 0;

	background: white;

	color: black;
}

.message-with_image {
	position: relative;
	padding: 0;
	overflow: hidden;

	border-radius: 10px;

	background: none;
}

.message--img {
	object-fit: cover;

	max-width: 100%;
	height: 100%;
}

.message--time {
	display: block;

	color: var(--color-secondary);
	font-size: var(--font-xs);
	line-height: var(--font-xs);
	text-align: right;
}

.message--time-plank {
	display: inline-block;
	position: absolute;
	right: 5px;
	bottom: 5px;
	padding: 5px 10px;

	border-radius: 10px;

	background: var(--color-primary);

	color: white;
}

.message--time-light {
	color: var(--color-primary);
}

.message--text {
	margin-bottom: 10px;

	color: white;
}

.message--text-light {
	color: var(--color-primary);
}
