.unfound_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;

	background-image: linear-gradient(to top, rgb(0 0 0 / 70%), rgb(0 0 0 / 30%)),
		url('../../../static/images/bg-400.jpg');
	background-repeat: no-repeat, no-repeat;
	background-size: cover;
}

.unfound_page--title {
	margin-bottom: 10px;

	color: white;
	font-size: var(--font-2xl);
	font-weight: bold;
}

.unfound_page--desc {
	margin-bottom: 20px;

	color: white;
	font-size: var(--font-xl);
}

.unfound_page--link {
	color: white;
	font-size: var(--font-lg);
	text-decoration-color: var(--color-accent);
	text-underline-offset: 4px;
}
