.form {
	display: flex;
	flex-direction: column;
	width: 620px;
	padding: 36px;

	border-radius: 15px;

	background: rgb(255 255 255 / 70%);
	backdrop-filter: blur(4px);
}

.form-s {
	width: 340px;
}

.form-hm {
	height: 450px;
}

.form--title {
	align-self: flex-start;
	margin-bottom: 10px;

	color: white;
}

.form--inner_title {
	align-self: center;
	margin-bottom: 10px;

	color: var(--color-primary);
	font-size: var(--font-xl);
}

.form--container {
	margin-bottom: 20px;
}

.form--container:last-of-type {
	margin-bottom: 0;
}

.form--inputs {
	flex-grow: 1;
	margin-bottom: 10px;
}
