* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-size: 100%;
}

html {
	--color-primary: #2a4166;
	--color-secondary: #829ebe;
	--color-accent: #bc2677;
	--color-input: #e3eefa;
	--color-gray: #999;

	--font-2xs: 8px;
	--font-xs: 9px;
	--font-sm: 12px;
	--font-base: 13px;
	--font-lg: 16px;
	--font-xl: 20px;
	--font-2xl: 40px;

	font-family: Inter, sans-serif;
}

.root {
	background-image: linear-gradient(to top, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)),
		url('../static/images/bg-main.jpg');
	background-repeat: no-repeat, no-repeat;
	background-size: cover;
}

.hidden {
	display: none;
}
