* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	color: black;

	font-size: 100%;
	list-style: none;
	text-decoration: none;
}

html {
	--color-primary: #2a4166;
	--color-secondary: #829ebe;
	--color-accent: #bc2677;
	--color-input: #e3eefa;
	--color-gray: #999;

	--font-2xs: 8px;
	--font-xs: 9px;
	--font-sm: 12px;
	--font-base: 13px;
	--font-lg: 16px;
	--font-xl: 20px;
	--font-2xl: 40px;

	font-family: Inter, sans-serif;
}

.root {
	background: var(--color-primary);
}

.app {
	min-height: calc(100vh - 24px);
}

.main_bg {
	background-image: linear-gradient(to top, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)),
		url('../static/images/bg-main.jpg');
	background-repeat: no-repeat, no-repeat;
	background-size: cover;
}

.main_nav {
	width: 100%;
	height: 24px;

	background: var(--color-primary);
}

.main_nav--items {
	display: flex;
	justify-content: space-around;
}

.main_nav--item {
	flex-grow: 1;
}

.main_nav--link {
	display: inline-block;
	width: 100%;
	padding: 4px 0;

	transition: all;
	transition-duration: 0.25s;

	color: white;

	font-size: var(--font-base);
	text-align: center;
}

.main_nav--link:hover {
	background: var(--color-accent);
}

.hidden {
	display: none;
}
