.fullheight_btn {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 100%;

	transition: all;
	transition-duration: 0.5s;

	background: rgb(255 255 255 / 70%);
	backdrop-filter: blur(4px);
}

.fullheight_btn:hover {
	background: rgb(255 255 255 / 50%);

	cursor: pointer;
}
